/* modules/form
--------------------------------------*/

.input,
.textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	font-size: .875em;
	color: $smooking;
	border: 3px solid #eee;

	&:focus {
		outline: none;
		background-color: #f6f6f7;
	}
}

.textarea {
	height: 170px;
}