// base/type
// -------------------------------

p {
	margin: 0 0 1em;
	font: .875em/24px $font-light;
}

#{headings()} {
	font-weight: normal;
	font-family: $font-medium;
	color: $darkness;
}

h1 {
	@include adjust-font-size-to(36px);
	margin: rhythm(1, 36px) 0;
}

h2 {
	@include adjust-font-size-to(30px); 
	margin: rhythm(1, 30px) 0;
}

h3 {
	@include adjust-font-size-to(24px); 
	margin: rhythm(1, 24px) 0;
}

h4 {
	@include adjust-font-size-to(18px); 
	margin: rhythm(1, 18px) 0;
}

h5 {
	@include adjust-font-size-to(14px); 
	margin: rhythm(1, 14px) 0;
}

h6 {
	@include adjust-font-size-to(12px); 
	margin: rhythm(1, 12px) 0;
}

.h1 {
	margin: 0 0 25px;
	font-size: 1.750em; // 28px
}

.h3 {
	margin: 0 0 25px;
	font-size: 1.375em;
	line-height: normal;
	text-transform: uppercase;
}