/* layout/body
--------------------------------------*/

.body--home {
	background: $lightness image-url('header-bg.png') center top no-repeat;
	-webkit-background-size: 100% 603px;
	background-size: 100% 603px;
}